/* 
* Bootstrap Visualization Dashboard - CSS Style Sheet 
*/

/* Body */
/* Picture sourcehttps://www.wallpaperup.com/659181/sci-fi_futuristic_city_cities_art_artwork.html */
body {
    background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2015/04/11/659181/a41238327e5414066ab015d13ead936c-700.jpg");
    height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  
nav{background-size: cover;
background-color: rgb(180, 30, 155);}

h1{color: rgb(248, 244, 244);}
a{color: rgb(248, 244, 244);}
div{background-color: rgb(180, 30, 155);}
p{color: antiquewhite;}